
button {
border-radius: 2px;
padding: 5px 25px;
font: black;
text-align: center;
}

button:hover{
  cursor: pointer;
}

primary {
background-color: #0069d9;
color: white;
border: #0069D9;
}

.info{
  text-align: center;
  color:  #0069D9;
}