.header-container {
  margin: 0 auto;

  text-align: center;
  background-color: blueviolet;
  height: 6em;
  position: sticky;
  width: 100%;
 
}

.header {
  color: white;
  font-size: 3em;
  border: 2px solid white;

}

.footer{
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  
}

nav {
  margin-top: .50em;
  font-size: 1em;
  color: white;
}

.country-container{
  margin-top: 2em;
}

.country {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  
}

.country-link {
  text-decoration: none;
  color: black;
}
.home_link {
  text-decoration: none;
  color: black;
}

.details-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.section-container{
  margin: 1em 0 1em 3em;

}