@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.header-container {
  padding-top: 2em;
  text-align: center;

  background-color: slategray;
  height: 6.5em;

  width: 100%;
}

.header {
  margin-top: 0.25em;
  width: 100%;
  top: 0;
  text-shadow: 2px brown;
  height: 30%;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Special Elite, sans-serif;
}
.home-container {
  margin-top: 1em;
}

.footer {
  margin-top: 3px;
  padding-top: 0.25em;
  font-family: Special Elite, sans-serif;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  background-image: linear-gradient(to bottom, white, slategray);
  position: sticky;
  left: 0;
  bottom: 0;
  height: 2em;
}

nav {
  margin-top: 0.5em;
  font-size: 1em;
  color: white;
}

.country-container {
  margin-top: 2em;
}

.country {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
/*refactor to .link and apply to all links*/
.country-link {
  text-decoration: none;
  color: black;
  margin: 0.3em;
  font-family: Special Elite, sans-serif;
}

.details-container {
  display: grid;
  grid-template-columns: 33% 1fr 1fr;
  margin: 5em 0;
  padding: 5em;
  border: 1px solid slategray;
}

.section-container {
  margin: 1em 0 1em 3em;
}
.cdc {
  text-decoration: none;
  color: black;
}

/*For iPhone*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .header {
    font-size: 1.75em;
  }

  .home-container {
    margin-top: 1.75em;
  }

  .country {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .country-link {
    font-size: 0.75em;
    margin: 0.5em;
  }
  .details-container {
    grid-template-columns: 1fr 1fr;
    padding: 5em 0;
    margin-top: 5em;
  }

  .section-container {
    margin: 0 auto;
  }
  .footer {
    position: fixed;
  }

}

/*For iPad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .details-container {
    grid-template-columns: 45% 1fr;
    padding: 5em 0;
    margin-top: 5em;
  }
  .section-container {
    margin: 0 auto;
  }

  .footer {
    position: fixed;
  }
}
