@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");


.summary {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Special Elite, sans-serif;
  color: darkslategray;
}

.arrow {
 
  margin: 1em;
  padding: 1em;
  
  
}

.arrow:hover {
  cursor: pointer;
}
.arrow-info{
  font-size: 1em;
  font-weight: bold;
  font-family: Special Elite, sans-serif;
  
}

.first {
  border: none;
  background-color: blue;
  color: blue;
}

/*For iPhone*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .summary {
      font-size: 1em;
   
    }
    
  }

