@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.section1 {
  color: darkslategray;
  padding: 1em;
  display: flexbox;
  height: 8em;
  width: 35%;
  background-color: rgba(211, 211, 211, 0.746);
  border: 1px solid black;
  box-shadow: 5px 0px 0 5px whitesmoke inset;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  font-family: Special Elite, sans-serif;
}

.section-container {
  display: flexbox;
}

.section2 {
  color: darkslategray;
  padding: 0.5em;
  display: flexbox;
  height: 1em;
  width: 35%;
  background-color: rgba(211, 211, 211, 0.746);
  border: 1.25px solid darkslategray;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  font-family: Special Elite, sans-serif;
}
.section3 {
  color: darkslategray;
  padding: 0.5em;
  display: flexbox;
  height: 1em;
  width: 10%;
  background-color: rgb(251, 209, 209);
  border: 1px solid darkslategray;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 85%;
  font-family: Special Elite, sans-serif;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .section1 {
    margin: 30px 1px 0 20px;
    height: 8em;
    width: 60%;
    font-size: 1.25em;
  }

  .section2 {
    margin: 0 0 0 2em;
    padding: 0.5em;
    height: 1em;
    width: 25%;
    font-size: 1em;
  }
}
/*For iPad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .section1 {
    margin: 30px 1px 0 1px;
    height: 8em;
    width: 60%;
    font-size: 1.25em;
  }

  .section2 {
    margin: 0 0 0 2em;
    padding: 0.5em;
    height: 1em;
    width: 25%;
    font-size: 1em;
  }
}
